.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.todo:hover {
  background-color: var(--hover);
  border-radius: 5px;
}
.label {
  color: var(--grey);
  font-size: 20px;
}
.checked {
  position: relative;
  color: var(--darkGrey);
}
.checked::after {
  position: absolute;
  top: 50%;
  left: 35px;
  width: 85%;
  height: 1px;
  background-color: var(--darkGrey);
  content: '';
}

.form {
  display: flex;
  align-items: center;
  width: 100%;
}

.checkbox {
  width: 20px;
  height: 20px;
}
