body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--light);
  --black: #181815; /* #272822 */
  --white: #f8f0ff;
  --primary: #7f98c1; /* #04a700 */
  --light: #b7c5ea; /* #41ff51  #b7c5ea*/
  --dark: #1a3f5c; /* rgb(11 75 16) */
  --darkGrey: #5b5b5b; /* #5b5b5b */
  --grey: #bdbdbd;
  --hover: #333333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  margin: 10px auto;
  max-width: 500px;
  position: relative;
}
.block {
  border: 3px solid var(--primary);
  border-radius: 10px;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label {
  padding: 5px;
  width: 100%;
  font-size: 17px;
}

a {
  color: var(--dark);
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s;
}
a:hover {
  color: var(--light);
}

.delete {
  position: relative;
  display: block;
  width: 0.9375rem;
  height: 0.9375rem;
  cursor: pointer;
}
.delete:hover::after,
.delete:hover::before {
  background-color: var(--grey);
}
.delete::after,
.delete::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.145rem;
  height: 100%;
  background-color: var(--darkGrey);
  content: '';
  transform: translate(-50%, -50%) rotate(45deg);
  transition: all 0.3s;
}
.delete::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.btn {
  color: var(--white);
  font-weight: bold;
  padding: 10px;
  border-radius: 7px;
  max-height: fit-content;
  font-size: 20px;
  background: var(--dark);
  position: relative;
  transition: all 0.3s;
}
.btn:hover {
  cursor: pointer;
  color: var(--black);
  background-color: var(--light);
}
